{% extends "base_detail.html" %}
{% load static %}

{% block pankuzu %}
<div class="container">
<div class="article-detail-pan">
<a href="/">Home</a> > <span>{{ object.name }}</span>
</div>
</div>
{% endblock %}

{% block content %}
<p class="article-count"><span class="font-title">投稿記事:{{ count }}件</span></p>
<p class="text-center index_title">＜<span class="font-bold">{{ object.name }}</span>＞の記事一覧</p>
<div class="row">
  {% for field in article_list %}
  <div class="col-lg-4 col-sm-6">
  <div class="article">
    <div class="article-header">
      <span class="font-small">投稿日:{{field.created_at|date:"Y年n月j日"}}　
        <br />カテゴリ：<a href="{% url 'stweb:category_detail' pk=field.category_id %}">{{ field.category_find }}</a>
        　<br />タグ：{% for tags in field.tag_find %}
                <a href="{% url 'stweb:tag_detail' pk=tags.id %}">{{ tags.name }}</a>
              {% endfor %}
    </span>
    </div>
    <a href="{% url 'stweb:detail' pk=field.id %}" class="article-text">
    <h2 class="t-bg-darkgray-right">{{ field.title }}</h2>
    {% if field.thumnail %}
    <div class="article-thumnail">
      <img class="img-responsive" src="/media/{{ field.thumnail }}">
    </div>
    {% else %}
    {% endif %}
    <div class="t-bg-darkgray-right article-discript">
      <span class="">{{ field.discript }}</span>
    </div>
    <div class="article-see">>> Read more</div>
    </a>
</div>
</div>
{% endfor %}
</div>
{% endblock %}
