{% extends "base.html" %}
{% load static %}
{% load martortags %}

{% block pankuzu %}
<div class="container">
<div class="article-detail-pan">
<a href="/">Home</a> > <a href="{% url 'stweb:category_detail' pk=object.category_id %}">{{ object.category_find }}</a> > <span>{{ object.title }}</span>
</div>
</div>
{% endblock %}

{% block content %}
<div class="row">
  <div class="col-sm-9">
    <div class="article-detail-wrap">
      <div class="article-deatil-link">
        {% if object.updated_at == object.created_at %}
        <span class="font-small">投稿日:{{object.created_at|date:"Y年n月j日"}}</span>
        {% else %}
        <span class="font-small">投稿日:{{object.created_at|date:"Y年n月j日"}}</span>
        　<span class="font-small">追記日：{{ object.updated_at }}</span>
        {% endif %}
        　<br /><span class="font-small">カテゴリ：<a href="{% url 'stweb:category_detail' pk=object.category_id %}" class="link-view">{{ object.category_find }}</a>　タグ：
        {% for tags in object.tag_find %}
          <a href="{% url 'stweb:tag_detail' pk=tags.id %}" class="link-view">{{ tags.name }}</a>
        {% endfor %}
      </span>
      </div>
        <div class="article-detail-title">{{ object.title }}</div>
        <div class="article-detail-discript">{{ object.discript }}</div>
        {% if object.thumnail %}
        <img class="img-responsive" src="/media/{{ object.thumnail }}">
        {% else %}
        {% endif %}
        <div id="a"></div>
        <div id="mk-text" class="article-detail-text">{{ object.text|safe_markdown }}</div>
    </div>
  </div>
  <div class="col-sm-3 text-center">
  {% include 'category_list_publick.html' %}
  {% include 'tag_list_publick.html' %}
</div>
</div>
{% endblock %}
{% block extra_script %}
<script type="text/javascript" src="{% static 'plugins/js/semantic.min.js' %}"></script>
<script type="text/javascript" src="{% static 'plugins/js/highlight.min.js' %}"></script>
<script>
    $('pre').each(function(i, block){
        hljs.highlightBlock(block);
    });
    $('.ui.dropdown').dropdown();
  </script>
{% endblock %}
