{% extends "base_index.html" %}

{% block pankuzu %}
<div class="container">
<div class="article-detail-pan">
<span>Home</span>
</div>
</div>
{% endblock %}

{% load static %}
{% block content %}
<p class="article-count"><span class="font-title">投稿記事:{{ count }}件</span></p>
<div class="row">
  {% for field in object_list %}
  <div class="col-lg-4 col-sm-6">
    <div class="article">
      <div class="article-header">
        <span class="font-small">{{field.created_at|date:"Y年n月j日"}}<br />
          カテゴリ：<a href="{% url 'stweb:category_detail' pk=field.category_id %}">{{ field.category_find }}</a>
          　<br />タグ：{% for tags in field.tag_find %}
          <a href="{% url 'stweb:tag_detail' pk=tags.id %}">{{ tags.name }}</a>
          {% endfor %}
          <!-- <span class="text-right">ユーザー：{{ field.user_find }}</span> -->
        </span>
      </div>
      <a href="{% url 'stweb:detail' pk=field.id %}" class="article-text">
        <h2 class="t-bg-darkgray-right">{{ field.title }}</h2>
        {% if field.thumnail %}
        <div class="article-thumnail">
          <img class="img-responsive" src="/media/{{ field.thumnail }}">
        </div>
        {% else %}
        {% endif %}
        <div class="article-mr">
          <div class="t-bg-darkgray-right article-discript">
            <span class="">{{ field.discript }}</span>
          </div>
          <div class="article-see">>> Read more</div>
        </div>
      </a>
    </div>
  </div>
  {% endfor %}
</div>
  {% include 'pagenation.html' %}

{% endblock %}
