{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="row">
  <div class="col-sm-9">
<div class="index-wrap">
  <p class="text-center index_title">＜<span class="font-bold">{{ object }}</span>＞の記事一覧</p>
  {% for field in article_list.article_find_publick %}
  <article class="">
    <div class="category-link">
      <span class="font-small">投稿日:{{field.created_at|date:"Y年n月j日"}}　
        カテゴリ：<a href="{% url 'stweb:category_detail' pk=field.category_id %}" class="link-view">{{ field.category_find }}</a>
        　タグ：{% for tags in field.tag_find %}
                <a href="{% url 'stweb:tag_detail' pk=tags.id %}" class="link-view">{{ tags.name }}</a>
              {% endfor %}
              　<span class="text-right">ユーザー：{{ field.user_find }}</span>
    </span>
    </div>
    <h2><a href="{% url 'stweb:detail' pk=field.id %}">{{ field.title }}</a></h2>
    <div class="discript">
    <span class="index_descript">概要</span>
      <span class="">{{ field.discript }}</span>
    </div>
    <div class="mt20">
    <a href="{% url 'stweb:detail' pk=field.id %}" class="extra-link">>>続きを読む</a>
  </div>
  </article>
  {% endfor %}
</div>
</div>
<div class="col-sm-3 text-center">
{% include 'category_list_publick.html' %}
{% include 'tag_list_publick.html' %}
</div>
</div>
{% endblock %}
