.t-bg-green {
  background: #e0e0e0;
}

.t-bg-yellow {
  background: #fffabe;
}

.t-bg-white {
  background: #fff;
}

.t-bg-darkgray {
  background: radial-gradient(#2b2b31, #000000)
}

.t-bg-thinbk {
  background: #0003;
}
