
{% if is_paginated %}
<nav class="pagenation-mt" aria-label="pagenation_base">
    <ul class="pagination justify-content-center">
        {% if page_obj.has_previous %}
            <li class="page-item">
              <a class="page-link" href="?{{ page_obj.previous_page_number.querystring }}">前へ</a>
            </li>
        {% endif %}
        {% for link_page in page_obj.pages %}
            {% if link_page %}
                {% if link_page == page_obj.number %}
                    <li class="page-item active">
                      <a class="page-link" href="">{{ link_page }}</a>
                    </li>
                {% else %}
                    <li class="page-item">
                      <a class="page-link" href="?{{ link_page.querystring  }}">{{ link_page }}</a>
                    </li>
                {% endif %}
            {% else %}
                {# 省略された部分の表示内容 #}
                <li class="disabled"><a class="page-link" href="#">...</a></li>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <li class="page-item">
              <a class="page-link" href="?{{ page_obj.next_page_number.querystring }}">次へ</a>
            </li>
        {% endif %}
    </ul>
{% endif %}
