.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font-barance {
  font-size: 25px;
  margin-top: 10px;
}

.font-title {
  color: #fff;
}

.font-yellow {
  color: #a59562;
}

.font-white {
  color: #fff;
}
