.l-header {
  margin-bottom: 50px;
}

.l-main {
  height: 300px;
  margin: 20px 0;
  padding-top: 20px;
}

.l-main-text {
  margin: 20px 0 20px 20px;
}

.l-main-title {
  margin: 30px 20px 30px 20px;
}

.l-container {
  margin-top: 50px;
}

.l-footer {
  margin-top: 15%;
}

.l-contact {
  text-align: center;
}

.d-flex {
  min-height: 100vh;
}

.mt10 {
  margin-top: 10px;
}

.mt16 {
  margin-top: 16px;
}

.mt20 {
  margin-top: 20px;
}

.mt50 {
  margin-top: 50px;
}

.mb20 {
  margin-bottom: 20px;
}

.mb40 {
  margin-bottom: 40px;
}

.mb50 {
  margin-bottom: 50px;
}

.ml20 {
  margin-left: 20px;
}

.pd50 {
  padding: 50px;
}
