{% extends "base.html" %}
{% load static %}
{% block content %}
<h4 class="text-center">stwebにメール</h4>
<form action="" method="post" class="form">
  {% csrf_token %}
  {% for field in form %}
      <ul>
        <li>{{ field.label }}</li>
        <li>{{ field }}</li>
      </ul>
      {% endfor %}
<input type="submit" value="管理者にメール" class="btn btn-info">
</form>
<div class="btn-field">
<a href="{% url 'article:category_post' %}" class="btn btn-primary">カテゴリ登録</a>
<a href="{% url 'article:index' %}" class="btn btn-primary">記事管理画面</a>
</div>
{% endblock %}

{% block extra_script %}
<script>
var simplemde = new SimpleMDE({
  element: document.getElementById("text-area"),
  autofocus: true,
  forceSync: true,
  placeholder: "本文",
});
</script>
{% endblock %}
