{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="row">
  <div class="col-sm-9">
    <div class="article_detail_wrap">
      <div class="category-link">
        {% if object.updated_at == object.created_at %}
        <span class="font-small">投稿日:{{object.created_at|date:"Y年n月j日"}}</span>
        {% else %}
        <span class="font-small">投稿日:{{object.created_at|date:"Y年n月j日"}}</span>
        　<span class="font-small">追記日：{{ object.updated_at }}</span>
        {% endif %}
        　<span class="font-small">カテゴリ：<a href="{% url 'article:category_detail' pk=object.category_id %}" class="link-view">{{ object.category_find }}</a>　タグ：
        {% for tags in object.tag_find %}
          <a href="{% url 'article:tag_detail' pk=tags.id %}" class="link-view">{{ tags.name }}</a>
        {% endfor %}
      </span>
      </div>
        <div class="article_title">{{ object.title }}</div>
        <div class="article_discript">{{ object.discript }}</div>
        {% if object.thumnail %}
        <img class="img-responsive" src="/media/{{ object.thumnail }}">
        {% else %}
        {% endif %}
        <div id="a"></div>
        <div id="mk-text" class="article_text">{{ object.get_text_as_markdown }}</div>
    </div>
  </div>
  <div class="col-sm-3 text-center">
  {% include 'category_list.html' %}
  {% include 'tag_list.html' %}
</div>
<div class="btn-field">
  <a href="{% url 'article:edit' pk=object.id %}" class="btn btn-secondary">記事編集</a>
  <a href="{% url 'article:article_delete' pk=object.id %}" class="btn btn-warning">削除</a>
  <a href="{% url 'article:index' %}" class="btn btn-info">記事管理画面</a>
  <a href="{% url 'article:post' %}" class="btn btn-primary">記事投稿</a>
  <a href="{% url 'article:category_post' %}" class="btn btn-success">カテゴリ追加</a>
</div>
</div>
{% endblock %}
{% block extra_script %}
<script>
document.getElementById("mk-text").innerHTML = marked(document.getElementById("mk-text").innerHTML);
</script>
<script src="https://cdn.rawgit.com/chjj/marked/master/marked.min.js"></script>
{% endblock %}
