{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="page-top">
  <h4 class="text-center mb40">記事一覧画面</h4>
</div>
<div class="row">
  <div class="col-sm-9 text-center">
    <div class="index-wrap">
      {% for field in article_list %}
      <ul>
        <li><a href="{% url 'article:detail' pk=field.id %}">{{ field.title }}　<span class="font-small">{{field.created_at|date:"Y年n月j日"}}</span></a></li>
      </ul>
      {% endfor %}
    </div>
  </div>
  {% include 'category_list.html' %}
</div>
<div class="btn-field">
  <a href="{% url 'article:index' %}" class="btn btn-primary">管理画面</a>
  <a href="{% url 'article:post' %}" class="btn btn-primary">記事投稿</a>
  <a href="{% url 'article:category_post' %}" class="btn btn-success">カテゴリ追加</a>
</div>
{% endblock %}
