{% extends "base.html" %}
{% load static %}
{% block content %}
{% if user.is_authenticated %}
<div class="row">
  <div class="col-8">
    <div class="text-center pd50">
    <a href="{% url 'article:index' %}" class="btn btn-outline-info pd50">記事管理画面はこちらです。</a>
    </div>
  </div>
  <div class="col-4">
    <h4 class="text-center">{{ user.username }}</h4>
    <ul class="text-center pro-list">
      <li class="art-countbg">記事投稿数：{{ count }}</li>
      {% for articles in more_context %}
      {% empty %}
      <li>記事を投稿していません。投稿しましょう。</li>
      {% endfor %}
      <li><a href="{% url 'user:profile' uuid=user.uuid %}" class="btn link-btn">ユーザー情報更新</a></li>
      <li><a href="{% url 'user:logout' %}" class="btn link-btn">ログアウト</a></li>
    </ul>
  </div>
</div>
{% else %}
<p><a href="{% url 'user:login' %}">ログイン</a>してくだしあ。<a href="{% url 'user:login' %}">ログイン</a>をすると、ブログ機能が使えるようになりますよ。</p>
<p>ユーザー登録がおすみでない方は新規ユーザー登録は<a href="{% url 'user:register' %}">こちら</a></p>
{% endif %}
{% endblock %}
