{% extends "base.html" %}
{% load static %}
{% block title %}ログイン画面{% endblock %}
{% block content %}
<h2 class="text-center font-barance">ログイン画面</h2>
<form action="" method="post">
  <div class="text-center">
    {% if form.non_field_errors %}
      <div>
        <ul class="alert alert-danger">
          {% for non_field_error in form.non_field_errors %}
            <li>{{ non_field_error }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% for field in form %}
      <div class="form-group">
        <ul>
          <li>{{ field.label }}</li>
          <li>{{ field }}</li>
        </ul>
      </div>
      {% if field.errors %}
      <p class="red message">{{ field.errors.0 }}</p>
      {% endif %}
    {% endfor %}
    {% csrf_token %}
    <input type="submit" class="btn btn-info mt10" value="ログイン">　
  </div>
</form>
  <p>新規ユーザー登録は<a href="{% url 'user:register' %}" class="link-btn">こちら</a></p>
{% endblock %}
