{% extends "base.html" %}
{% load static %}
{% block title %}新規ユーザー登録画面{% endblock %}
{% block content %}
<h4 class="text-center">新規登録画面</h4>
<form action="" method="post" class="ui form">
  {% csrf_token %}
    <div class="ui stacked segment">
        {% if form.non_field_errors %}
        <div class="ui red message">
            <div class="header">エラー</div>
            <ul class="list">
                {% for non_field_error in form.non_field_errors %}
                <li>{{ non_field_error }}</li>
                {% endfor %}
            </ul>
        </div>
        {% endif %}
        {% for field in form %}
          <ul>
            <li>{{ field }}</li>
          </ul>
          {% if field.errors %}
          <p class="red message">{{ field.errors.0 }}</p>
          {% endif %}
        {% endfor %}
        <input type="submit" class="btn btn-info mt10" value="新規登録">　
    </div>
</form>

<div class="ui message">
  <a class="btn link-btn" href="{% url 'user:login' %}">ログイン</a>
</div>
{% endblock %}
